{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'routes/style.css' %}" />

<h2> List of Routes</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}

{% for choice in area.route_set.all %}
    <h3>{{ choice.routes_text }}</h3>
    <p>Location: {{choice.location}} </p>
    <p>Rating: {{choice.rating}}</p>
    <p>Comments: {{choice.comments}}</p>
    <br />
{% endfor %}
    <br />
<p>Want to <a href="https://climbing-routes-guide-d4gm0r.c9users.io/admin/login/?next=/admin/">add</a>
    an new route? Username: testuser, Password: climbing.</p>