{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'routes/style.css' %}" />

<h2> List of Routes</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}

{% for choice in area.route_set.all %}
    <h3>{{ choice.routes_text }}</h3>
    <p>Location: {{choice.location_text}} </p>
    <p>Rating: {{choice.rating_text}}</p>
    <p>Comments: {{choice.comments_text}}</p>
    <br />
{% endfor %}
<!--<input type="submit" value="Add New" />-->
</form>