{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'routes/style.css' %}" />

<h2>{{ areas.areas_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% csrf_token %}
{% for choice in area.route_set.all %}
    <input type="radio" name="routes" id="routes{{ forloop.counter }}" value="{{ routes.id }}" />
    <label for="routes{{ forloop.counter }}">{{ choice.routes_text }}</label><br />
{% endfor %}
<!--<input type="submit" value="Vote" />-->
</form>